@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-gDark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  font-size: 15px;
  height: 100vh;
  display: flex;
  align-items: center;

  background-color: var(--color-light-gray);
}

div {
  width: 307px;
  height: 483px;

  margin: auto;
  border-radius: 20px;

  background-color: var(--color-white);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  padding-bottom: 15px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  width: 279px;

  border-radius: 10px;
}

h1 {
  width: 260px;

  color: var(--color-gDark-blue);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
