@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-gDark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  font-size: 15px;
}

/* media query para mobile e desktop 
- Mobile: 375px
- Desktop: 1440px */

@media (min-width: 375px) {
  html {
    font-size: 87.5%;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 100%;
  }
}


